<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=
    "http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="org.springlearn03.xml"/>
	
	<aop:aspectj-autoproxy/>
	
	<bean class="org.springlearn03.xml.Woodstock"/>
	
	<bean id="encorable" class="org.springlearn03.xml.DefaultEncoreable"/>
	
	<bean id="audience" class="org.springlearn03.xml.Audience"/>
	
	<aop:config>
		<aop:aspect>
			<!-- <aop:declare-parents
				types-matching="org.springlearn03.xml.Performance+"
				implement-interface="org.springlearn03.xml.Encoreable"
				default-impl="org.springlearn03.xml.DefaultEncoreable"/> -->
			
			<!-- 两种方式，都可以 -->	
			<aop:declare-parents
				types-matching="org.springlearn03.xml.Performance+"
				implement-interface="org.springlearn03.xml.Encoreable"
				delegate-ref="encorable"/>
			</aop:aspect>
	</aop:config>
</beans>