<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="compactdisc" class="org.springbeanlearn02.soundsystem.SgtPeppers" />

	<!-- <bean id="cdplayer" class="org.springbeanlearn02.soundsystem.CDPlayer"> 
		<constructor-arg ref="compactdisc"></constructor-arg> </bean> -->

	<!-- 必须引入c空间：xmlns:c="http://www.springframework.org/schema/c" c:cd-ref其中cd是构造器参数名，可以用位置_0代替， 
		因为只有一个构造器，故可以直接用_代替 -->
	<bean id="cdplayer" class="org.springbeanlearn02.soundsystem.CDPlayer"
		c:_-ref="compactdisc" />

	<!-- <bean id="cdplayer2" class="org.springbeanlearn02.soundsystem.other.BlankDisc"> 
		<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"></constructor-arg> 
		<constructor-arg value="The Beatles"></constructor-arg> </bean> -->

	<bean id="cdplayer2" class="org.springbeanlearn02.soundsystem.other.BlankDisc"
		c:_0="Sgt. Pepper's Lonely Hearts Club Band" c:_1="The Beatles" />
</beans>